.header{
    display: flex;
    justify-content: space-around;
}
.header-menu-list{
    display: flex;
    list-style: none;
    justify-content: end;
}
.header-menu-list a,li{
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 20px;
}
.form-container {
    display: flex;
    padding: 0 300px 0;
    width: 100%;
}

td, th {
    border: 1px solid ;
    padding: 10px 20px;
}

.div-one {
    display: flex;
    justify-content:space-between ;
}

.select2-results__option--selectable{
    margin : 0; 
}